@import "tailwindcss";

@theme {
  --color-primary: #2762e9;
  --color-secondary: #1f3a89;
  --color-error: #c30d2c;
  --color-success: #118510;
  --color-surface: #1d292f;
  --color-surface-container: #2f3e46;
  --color-outline: #4d7f8d;
  --color-text: #eff6ff;
}

html {
  @apply bg-surface;
  @apply text-text;
  @apply text-base;
}
