@import "tailwindcss";

@theme {
  --color-primary: #2762e9;
  --color-secondary: #364a54;
  --color-error: #c30d2c;
  --color-success: #118510;
  --color-surface: #1d292f;
  --color-surface-container: #2f3e46;
  --color-outline: #2f3e46;
  --color-text: #eff6ff;

  --breakpoint-xs: 30rem;
}

html {
  @apply bg-surface;
}
body {
  @apply text-text;
  @apply text-base;
}
